<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wikibook.gallery.account.AccountMapper">


    <insert id="save">
        INSERT INTO members
        SET name = #{name}
        , login_id = #{loginId}
        , login_pw = #{loginPw}
    </insert>

    <select id="findByLoginId">
        SELECT id, login_pw
        FROM members
        WHERE login_id = #{loginId}
    </select>



</mapper>