<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wikibook.gallery.cart.CartMapper">

    <insert id="save">
        INSERT INTO carts
                SET member_id = #{memberId}
                  , item_id = #{itemId}

    </insert>

    <select id ="findAllWithItemByMemberId">
        SELECT c.id, i.name, i.img_path, i.price, i.discount_per, c.item_id
          FROM carts c
          JOIN items i
            ON i.id = c.item_id
         WHERE c.member_id = #{memberId}
    </select>

    <delete id="deleteByMemberCartIdAndItemId">
        DELETE
        FROM carts
        WHERE member_id = #{memberId}
          AND id = #{cartId}
    </delete>

    <delete id="deleteByMemberId">
        DELETE
          FROM carts
         WHERE member_id = #{memberId}
    </delete>


</mapper>